body {
	font-family: Verdana, "Trebuchet MS", Arial, Serif;
	font-size: 0.8em;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #FFFFFF;
	background-color: #000000;
}

a {
	color: #FFFFFF;
	text-decoration: none;	
}

h1 {
    display: inline;
    font-size: 1.2em;
    color: #D9FFF2;
}

a img {
	border: 0;
}

input {
	font-family: Verdana, "Trebuchet MS", Arial, Serif;
}
#main {
	background-image: url(../images/background.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000000;
	max-width: 1270px;
	min-width: 1270px;
	min-height: 1400px;
	margin: auto;
}
table {
	border: 0;
}

.leftPart {
	width: 250px;
	float: left;
}

#header {
	max-width: 1270px;
	height: 268px;
        overflow: hidden;
	margin: auto;
}

#contents {
	margin-left: 250px;
	background-image: url(../images/main.jpg);
	margin-bottom: 20px;
	width: 769px;
	min-height: 973px;
	overflow: visible;
	margin-top: 20px;
	padding-top: 20px;
	background-repeat: no-repeat;
}

.rightSide {
	width: 251px;
	height: 1400px;
	float: right;
}

.alert {
	width: 320px;
	height: 50px;
	background-image: url(../images/warning.gif);
	background-repeat: no-repeat;
	padding-left: 110px;
	padding-top: 22px;
	color: #FFFFFF;
	margin: auto;
}

.success {
	width: 320px;
	height: 50px;
	background-image: url(../images/success.gif);
	background-repeat: no-repeat;
	padding-left: 110px;
	padding-top: 22px;
	color: #FFFFFF;
	margin: auto;
}

.inputHovered {
        background-color: #D5D5D5;
}

.inputFocus {
        background-color: #D5D5D5;
        font-weight: bold;
}

#footer {
	width: 976px;
	text-align: center;
	margin: auto;
}
#footerTop {
	width: 976px;
	height: 96px;
	background-repeat: no-repeat;
}

#footerHr {
	width: 976px;
	background-image: url(../images/footerHr.gif);
	margin: auto;
	margin-top: 11px;
	margin-bottom: 11px;
	height: 1px;
}

.accountLogin {
	height: 189px;
	margin-top: 20px;
	background-image: url(../images/account.jpg);
}

.mainMenu {
	height: 592px;
	background-image: url(../images/menu.jpg);
}

.statistics {
	height: 189px;
	margin-top: 20px;
	background-image: url(../images/stats.jpg);
}

.top20 {
	height: 592px;
	background-image: url(../images/top20.jpg);
}

#voteButton {
	margin-left: 310px;
	margin-top: 30px;
	height: 65px;
	width: 150px;
	cursor: pointer;
}

#username {
	background-image: url(../images/text_field.png);
	background-color: transparent;
	border: 0;
	padding-left: 5px;
	background-repeat: no-repeat;
	width: 155px;
	height: 24px;
	margin-left: 65px;
	margin-top: 70px;
}

.top20text {
	padding-top: 40px;
	padding-left: 30px;
}

#password {
	background-image: url(../images/text_field.png);
	background-color: transparent;
	border: 0;
	padding-left: 5px;
	background-repeat: no-repeat;
	width: 155px;
	height: 24px;
	margin-left: 65px;
}

#loginButton {
	margin-left: 155px;
}

.loggedinMessage {
	padding-top: 60px;
	padding-left: 55px;
	font-size: 8pt;
	
}

.top20Entity {
	height: 20px;
}

#blankAccountMenu {
	height: 60px;
}

.menuLinkOuter {
	margin: auto;
	text-align: left;
	padding-left: 30px;
	padding-top: 10px;
	height: 10px;
	width: 175px;
	font-size: 10pt;
}

.menuLinkAccountCP {
	width: 100px;
	display: inline;
	font-size: 8pt;
}

.menuLinkCharCP {
	width: 100px;
	display: inline;
	font-size: 8pt;
}

#accountMenu {
	text-align: center;
	margin-top: 30px;
	width: 769px;
}

#charMenu {
	width: 769px;
	text-align: center;
}

.mainMenuItemList {
	padding-top: 40px;
}

#mainContentInfo {
	font-size: 8pt;
	width: 670px;
	padding-left: 40px;
	padding-top: 30px;
	height:650px;
	overflow: hidden;
}

#scrollUp {
	margin-top: 130px;
	margin-right: 32px;
	width: 19px;
	height: 19px;
	display: inline;
	float: right;
}
#scrollDown {
	margin-right: 32px;
	width: 19px;
	height: 19px;
	display: inline;
	float: right;
}

.statsText {
	padding-top: 60px;
	padding-left: 50px;
	font-size: 8pt;
}