@charset "utf-8";
table {
border-collapse:collapse;
border-spacing:0
}

fieldset,img {
border:0
}

address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:400
}

caption,th {
text-align:left
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:400
}

q:before,q:after {
content:''
}

abbr,acronym {
border:0;
font-variant:normal
}

sup {
vertical-align:text-top
}

sub {
vertical-align:text-bottom
}

input,textarea,select {
font-family:Arial, Helvetica, sans-serif;
font-weight:inherit;
font-size:100%
}

del,ins {
text-decoration:none
}

html {
overflow-y:scroll
}

.clear {
clear:both;
display:block
}

.error {
color:red;
font-weight:700;
padding:10px 0
}

.notice,.notices {
color:#17d829;
font-weight:700;
padding:10px 0
}

.pc {
padding:0 5px;
}

p,h1,h2,h3,h4,h5,h6 {
padding:10px 0
}

h2 {
font-size:25px;
line-height:26px;
font-weight:400;
color:#c1971e;
font-family:"Times New Roman", Times, serif;
display:block;
padding:0
}

h3 {
font-size:13px;
line-height:19px;
font-weight:700;
color:#c1971e;
font-family:Georgia;
display:block;
margin:0
}

h4 {
font-size:14px;
line-height:15px;
font-weight:700;
color:#c1971e;
font-family:Arial, Helvetica, sans-serif;
text-transform:uppercase;
display:block;
margin:0
}

hr {
background:#999;
height:1px;
border:0;
width:96%
}

blockquote {
color:#C1971E;
font-weight:700;
font-size:14px;
margin:0;
padding:0;
}

input,textarea {
border:1px solid #C8BD85;
background:#628199
}

form label {
float:left;
width:130px;
line-height:18px;
margin:3px 0
}

form input,form select {
float:left;
margin:3px 0px 0px;
}

#pageBackground {
background:url(../images/pageTPLBackgroundSprite.jpg) center top no-repeat;
width:100%;
min-height:456px
}

#container {
width:920px;
position:relative;
margin:0 auto
}

#header #logo {
float:left;
height:80px;
width:230px;
margin:10px 0 0 30px
}

#header #logo strong {
display:none
}

#header #rightBox {
float:right;
width:334px;
_display:inline;
color:#dcb48a;
font-weight:700;
height:76px;
margin:220px -20px 0 100px;
padding:0
}

#header #rightBox .error {
height:15px;
line-height:15px;
width:auto;
padding-left:15px;
margin:15px 0 0
}

#header #loginBox form {
margin:0;
padding:0 0 0 10px
}

#loginBox #usernameDiv {
border:0;
height:23px;
width:113px;
float:left;
margin-right:0;
background:url(../images/interfaceSprite.jpg) no-repeat -560px -247px
}

#loginBox #usernameRightLogin {
border:0;
width:103px;
background:transparent;
font:bold 11px georgia;
color:#dcb48a;
line-height:11px;
margin:4px 3px 0 7px
}

#loginBox #passwordDiv {
border:0;
height:23px;
width:113px;
background:url(../images/interfaceSprite.jpg) no-repeat -690px -247px;
float:left
}

#loginBox #passwordRightLogin {
border:0;
width:106px;
background:transparent;
color:#dcb48a;
font-weight:400;
font:bold 11px georgia;
line-height:11px;
display:inline;
position:relative;
margin:4px 3px 0 7px
}

#loginBox #loginButton {
float:left;
width:65px;
height:23px;
background:transparent url(../images/interfaceSprite.jpg) no-repeat -810px -247px;
border:0;
cursor:pointer;
margin:0
}

#loggedBox {
margin:-10px 0 0 10px
}

#loggedBox a {
color:#dcb48a
}

#loginBox .logLinks {
margin-left:10px
}

#loginBox .logLinks a.forgot {
height:19px;
width:116px;
background:url(../images/interfaceSprite.jpg) no-repeat -317px -32px;
float:left
}

#loginBox .logLinks a.reg {
height:19px;
width:115px;
background:url(../images/interfaceSprite.jpg) no-repeat -432px -32px;
float:left
}

#loginBox #passwordForgotten {
display:block;
clear:left;
height:25px;
width:120px;
background:url(../images/interfaceSprite.jpg) no-repeat -707px 0;
margin:0 0 0 15px;
padding:0
}

#loginBox #passwordForgotten:hover {
background-position:-706px -27px
}

#gameNav {
position:absolute;
padding-left:10px;
top:300px;
height:25px;
width:auto
}

#gameNav ul {
display:block;
margin:0;
padding:0 0 0 25px
}

#gameNav li {
height:31px;
float:left;
margin-top:0;
display:inline
}

#gameNav li a,#gameNav li a:link,#gameNav li a:active,#gameNav li a:visited {
display:block;
text-decoration:none;
text-transform:lowercase;
color:#cc9;
height:29px;
font:bold 11px/27px georgia;
background:url(../images/transparentSprite.png) no-repeat -698px 0;
_background-image:url(../images/transparentSprite.gif);
margin:1px 0;
padding:0 10px
}

#gameNav li:first-child a,#gameNav li.first a {
border:solid 0;
background:none
}

#gameNav ul li {
_display:inline;
_width:10px;
_white-space:nowrap
}

#header a.websh {
width:113px;
height:30px;
position:absolute;
top:240px;
left:44px
}

#header a.forum {
width:113px;
top:240px;
position:absolute;
height:30px;
left:165px
}

.accordion1 {
width:510px;
float:left
}

.accordion1 h3 a {
width:500px;
height:31px;
border:0;
display:block;
background:url(../images/transparentSprite.png) no-repeat -6px -446px;
text-decoration:none;
_background-image:url(../images/transparentSprite.gif);
margin:0 0 0 -4px;
padding:0
}

.accordion1 h3 a:hover {
background:url(../images/transparentSprite.png) no-repeat -522px -746px;
_background-image:url(../images/transparentSprite.gif)
}

.accordion1 h3 a:hover .head {
color:#fff1a8;
text-decoration:underline
}

.accordion1 .right {
float:right;
font:9px/30px georgia;
padding-right:10px;
color:#c1a17a;
text-decoration:none
}

.accordion1 h3 a .head {
height:31px;
font:bold 11px/20px georgia;
padding-left:30px;
display:block;
cursor:pointer;
color:#c1a17a;
line-height:27px
}

.accordion1 h3.selected a .head {
border:0;
line-height:33px;
height:36px;
color:#fff1a8;
overflow:hidden
}

.accordion1 h3.selected a {
width:510px;
height:36px;
border:0;
display:block;
font:bold 10px/36px georgia;
color:#FFF;
overflow:hidden;
background:url(../images/transparentSprite.png) no-repeat -6px -564px;
_background-image:url(../images/transparentSprite.gif);
margin:2px 0 0 -4px;
padding:0
}

.accordion1 .innerContent {
overflow:hidden;
padding:10px 10px 0 15px
}

.accordion1 .innerContent .c {
height:120px;
overflow:hidden
}

.accordion1 .innerWrapper {
border:0;
margin-left:-4px;
width:510px;
background:url(../images/transparentSprite.png) no-repeat -6px -600px;
_background-image:url(../images/transparentSprite.gif)
}

.accordion1 .annFooter {
height:15px;
margin-top:0;
width:510px;
margin-left:-4px;
background:url(../images/transparentSprite.png) no-repeat -6px -542px;
_background-image:url(../images/transparentSprite.gif)
}

.accordion1 .innerContent a.readmore {
border:0;
width:145px;
height:35px;
visibility:visible;
color:#FFF;
font:bold 10px/35px georgia;
background:url(../images/transparentSprite.png) no-repeat -610px -794px;
float:right;
text-align:center;
_background-image:url(../images/transparentSprite.gif);
margin:0 15px 0 auto;
padding:0
}

.accordion1 .innerContent a.readmore:hover {
text-decoration:underline !important;
background:url(../images/transparentSprite.png) no-repeat -860px -794px;
_background-image:url(../images/transparentSprite.gif)
}

.navRight {
float:right;
width:334px;
min-height:100px;
margin-right:-19px;
margin-top:-26px
}

.navRight .ccc {
padding:20px 10px 10px
}

.navRight .onusers {
margin:10px;
padding:0
}

.navRight .nrright {
width:49%;
float:right
}

.navRight .nrleft {
width:49%;
float:left
}

#events {
	margin: 3px 0px;
}
	
#events div {
background:url("../images/event_timer_bg_f.jpg") no-repeat top left;
height:35px;
padding: 2px 0px;
font-size: 80%;
}

#events div span {
	vertical-align: top;
	display: block;
	padding-left: 40px;
}

#events div em {
	vertical-align: top;
	display: block;
	padding-left: 40px;
}

.list .alt {
background: rgba(255, 255, 255, 0.05);}

.list {
color:#756a33;
background: rgba(22, 23, 31, 0.96);
width:96%
}

.list td {
padding:5px 5px 5px 10px
}

.list .head {
background: rgba(255, 255, 255, 0.13);
color:#ff9
}

a,a:visited,a:link,a:active {
font-weight:700;
color:#a9a072;
text-decoration:underline
}

a:hover {
color:#600
}

#content {
margin-top:25px;
width:auto;
}

#leftContent {
float:left;
width:100%;
}

#rightContent {
margin-left:10px;
float:left;
min-height:400px;
_height:400px
}

#leftContent ul {
margin:10px 10px 0 10px;
padding:0;
}

#leftContent ul li a {
background:transparent url(../images/transparentSprite.png) no-repeat scroll -310px -284px;
_background-image:url(../images/transparentSprite.gif);
color:#FFD230;
display:block;
font-family:sans-serif;
font-size:10px;
font-weight:900;
height:28px;
line-height:28px;
padding-left:20px;
text-decoration:none;
outline-style:none;
border-style:none none dotted;
border-width:0 0 1px
}

#leftContent ul.webshop_items {
background:transparent url("../images/items_menu_bg.gif");
margin:0 10px 0 10px;
}

#leftContent ul.webshop_items li a {
height:auto;
line-height:14px;
border:0;
color:#B3DF3C;
border-bottom:1px solid #1B1F28;
background:transparent url("../images/sprite.png") 3px 6px no-repeat;
padding:5px 10px 5px 20px
}

#leftContent ul.webshop_items li a:hover,#leftContent ul.webshop_items li a.selected {
background-position:3px -16px;
text-decoration:none;
color:#FFF
}

#leftContent ul.webshop_items ul {
display:none;
margin:0;
padding:0
}

#leftContent ul.webshop_items li li a {
font-weight:400;
background-position:15px -38px;
padding:5px 10px 5px 30px
}

#leftContent ul.webshop_items li li a:hover,#leftContent ul.webshop_items li li a.selected {
background-position:15px -58px
}

.faq h2 {
font-size:18px;
font-style:italic;
cursor:pointer
}

.faq p {
padding-left:10px
}

#footer {
text-align:center;
width:920px;
clear:both;
font-size:11px;
margin:0 auto;
padding:30px 0
}

#footerText {
width:620px;
float:left;
padding-top:30px
}

#footerLogoLeft {
width:150px;
display:block;
float:left
}

#footerLogoRight {
width:150px;
display:block;
float:right
}

#footer,#footer a,#footer p {
color:#FFF1A8;
background:no-repeat center top
}

#footer a {
text-decoration:none;
font-weight:700;
color:#6D0A08;
padding:0 4px
}

.defaultClass {
position:static !important;
z-index:auto !important;
color:#000 !important;
background:transparent none repeat scroll 0 0 !important;
float:none !important;
clear:none !important;
border:0 solid #000 !important;
min-height:0 !important;
max-height:none !important;
height:auto !important;
min-width:0 !important;
max-width:none !important;
width:auto !important;
font:normal normal normal 11px/1.5 arial, verdana, sans-serif !important;
list-style:disc outside none !important;
letter-spacing:normal !important;
text-align:left !important;
text-decoration:none !important;
text-indent:0 !important;
text-transform:none !important;
white-space:normal !important;
word-spacing:normal !important;
vertical-align:baseline !important;
unicode-bidi:normal !important;
direction:ltr !important;
clip:auto !important;
overflow:visible !important;
visibility:visible !important;
outline:invert none medium !important;
display:inline !important;
cursor:auto !important;
margin:0 !important;
padding:0 !important
}

li,#leftContent ul li {
list-style:none
}

legend,b,strong {
font-weight:700
}

#gameNav li a:hover,#leftContent ul li a:hover,#footer a:hover {
text-decoration:underline
}

#recaptcha_response_field{
	float:none;
}

li.not_ok { list-style-image: url(../images/util/cross.png); }

li.ok { list-style-image: url(../images/util/tick.png); }

.Zebra_Tooltip {
    position: absolute;
    z-index: 8000;
    background: transparent;
    font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.Zebra_Tooltip .Zebra_Tooltip_Message {
    position: relative;
    padding: 10px 12px 10px 10px;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    *margin-right: 0;
    max-width: 250px;
    _width:expression(document.body.clientWidth > 250 ? '250px': 'auto'); /* max-width for IE6 */
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow         { position: absolute; height: 10px; width: 20px; overflow: hidden }

.Zebra_Tooltip .Zebra_Tooltip_Arrow_Bottom  { bottom: 0 }
.Zebra_Tooltip .Zebra_Tooltip_Arrow_Top     { top: 0    }

.Zebra_Tooltip .Zebra_Tooltip_Arrow div {
    position: absolute;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    left: 0;
    _border-left-color: pink;
    _border-right-color: pink;
    _filter: chroma(color=pink);
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow_Bottom div  {
    top: 0;
    _border-bottom-color: pink;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow_Top div     {
    bottom: 0;
    _border-top-color: pink;
}

.Zebra_Tooltip .Zebra_Tooltip_Close {
    text-decoration: none;
    color: #FFF;
    position: absolute;
    right: 4px;
    top: 1px;
    font-size: 9px;
    font-weight: bold;
}
